:root {
  font-family: 'Montserrat', Arial,Helvetica,sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --awb-custom_color_2: rgb(147, 40, 40);
  --awb-custom_color_3: rgba(43,70,28,.75);
  --awb-custom_color_4: #2db331;
  --awb-custom_color_5: rgb(42, 147, 40);
  --awb-custom_color_6: #e4c22b;
  --awb-custom_color_7: #918e90;
  --awb-custom_color_9: #707070;
  --awb-custom_color_10: #2a2527;
}

* {
  box-sizing: border-box;
}

[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

[hidden] {
  display: none !important;
}

html, body {
  margin: 0;
  background: white;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
  position: relative;
}


body {
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr) min-content;
  grid-template-columns: 100%;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
}

h2 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cbcbcb;

}

#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category {
  flex-grow: 1;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.console {
  padding: 10px;
  background: rgb(19, 19, 19);
  color: white;
  font-family: monospace;
  font-size: 0.8em;
  overflow: auto;
  height: 100%;
  border-radius: 5px;
}

.image-render {
  max-height: 400px;
  overflow: auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.image-render img {
  height: 300px;
}


nav > div:last-child {
  font-size: 80%;
}


#connected {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#battery {
  width: 20px;
  height: 10px;
  border: 1px solid gray;
}

#battery > div {
  width: 100%;
  height: 100%;
}

label {
  font-weight: bold;
  color: #0f0f0f;
}


nav {
  padding: 65px 25px;
  padding-bottom: 15px !important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background: black;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

nav > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

#controls {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
}

footer {
  padding: 10px 25px;
  padding-bottom: 20px;
  color: white;
  background: black;
}

main {
  overflow: auto;
}

main > section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  overflow: auto;
  width: 100%;
  height: 100%;
}

#dev {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

#controls > button {
  background: transparent;
  color: white;
  border: 1px solid white;
  font-size: 80%;
}

form { 
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

#create form {
  flex-direction: column;
}

form > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  min-width: 250px;
}

form input[type="checkbox"] {
  width: auto;
}

form input {
  width: 100%;
}

form i {
  font-size: 80%;
  color: gray;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-weight: 900;
  margin: 0;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button {
  text-align: left;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  color: white;
  cursor: pointer;
  background-color: #396cd8;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #0045db;
}

button.failing {
  background-color: #ff4d4d;
}

button.failing:hover {
  background-color: #ff0000;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

nav img {
  display: none;
}

@media (min-width:641px) {

  nav img {
    display: block;
  }

  nav {
    padding: 20px;
  }

  footer {
    padding-bottom: 10px;
  }
}


/* 
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  nav, footer {
    background-color: #0f0f0f98;
    border-color: #555555;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }

  #console {
    color: black;
    background-color: white;
  }

} */
